Flask==2.2.3
flask-cors==3.0.10
flask-sqlalchemy==3.0.3
psycopg2-binary==2.9.6
celery==5.2.7
redis==4.5.4
Werkzeug==2.2.3
click>=8.0.3
Jinja2==3.1.2
MarkupSafe==2.1.2
SQLAlchemy==2.0.4
python-dotenv==1.0.0
crewai==0.11.0
langchain==0.1.0
openai<2.00
duckduckgo-search==3.9.3
flask-socketio==5.3.2
python-engineio==4.3.4
python-socketio==5.7.2 
PyPDF2
python-magic
pytesseract
Pillow